
{% extends "pur_beurre/layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<section id="logout">
  <div class="container">
    <div class="row">
      <iv class="col-lg-12 text-center">
        <h2 class="section-heading">Vous êtes déconnecté</h2>
        <hr class="my-4">
           <div><a href="{% url 'login' %}">Se reconnecter</a></div>
          <div><a href="{% url 'pur-beurre-index' %}">Revenir à l'accueil</a></div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}